@import 'tailwindcss';

:root {
  --color-bg: #091225;
  /*--color-inline-code-bg: rgba(125, 156, 242, .2);*/
  /*--color-inline-code-bg: rgb(128, 135, 156);*/

  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-bg);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

pre,
code {
  background-color: #1f6382;
  border-radius: 2px;
}
